@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

@page {
  size: auto;
  /* auto is the initial value */
  margin: .625rem;
  /* this affects the margin in the printer settings */ }

.wrapper {
  display: none; }
  .wrapper .burger {
    position: fixed;
    display: block;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1052; }
    .wrapper .burger:focus {
      outline: none; }
    .wrapper .burger:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      border-radius: 100%;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      border: 2px solid #fff;
      -webkit-box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 40px -5px rgba(0, 0, 0, 0.3); }
    .wrapper .burger-lines {
      position: absolute;
      top: 33%;
      left: 32%;
      width: 46%;
      height: 46%; }
    .wrapper .burger-line {
      display: block;
      position: absolute;
      width: 100%;
      height: 0.1875rem;
      margin-top: -2px;
      top: 50%;
      left: 0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%; }
      .wrapper .burger-line:after {
        content: '';
        display: block;
        position: absolute;
        background-color: #fff;
        border-radius: 3px;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%; }
      .wrapper .burger-line__top {
        left: 50%; }
        .wrapper .burger-line__top:after {
          -webkit-transform: translate(0%, -300%);
          -ms-transform: translate(0%, -300%);
          transform: translate(0%, -300%);
          width: 50%; }
      .wrapper .burger-line__bottom:after {
        -webkit-transform: translate(0%, 300%);
        -ms-transform: translate(0%, 300%);
        transform: translate(0%, 300%);
        width: 50%; }
    .wrapper .burger:hover:before {
      -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 20px -15px rgba(0, 0, 0, 0.3); }
    .wrapper .burger:hover .burger-line {
      width: 100%;
      left: 0; }
      .wrapper .burger:hover .burger-line:after {
        width: 100%; }
    .wrapper .burger__active:before, .wrapper .burger__active:hover:before {
      -webkit-transition-delay: 0.6s;
      -o-transition-delay: 0.6s;
      transition-delay: 0.6s;
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-box-shadow: none;
      box-shadow: none; }
    .wrapper .burger__active .burger-line, .wrapper .burger__active:hover .burger-line {
      width: 100%;
      left: 0;
      -webkit-transition-delay: 0.6s;
      -o-transition-delay: 0.6s;
      transition-delay: 0.6s; }
      .wrapper .burger__active .burger-line:after, .wrapper .burger__active:hover .burger-line:after {
        width: 100%;
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
        transform: translate(0, 0%); }
      .wrapper .burger__active .burger-line__top, .wrapper .burger__active:hover .burger-line__top {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .wrapper .burger__active .burger-line__bottom, .wrapper .burger__active:hover .burger-line__bottom {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .wrapper .burger__active .burger-line__middle, .wrapper .burger__active:hover .burger-line__middle {
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        width: 0; }

.button-wrapper {
  position: fixed;
  right: 40px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .button-wrapper .button-with-text {
    text-align: center; }
    .button-wrapper .button-with-text .button {
      margin: .625rem; }
  .button-wrapper button {
    border: 0.0625rem solid #000;
    border-radius: .3125rem;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: .6rem 1.4rem;
    cursor: pointer;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease; }
  .button-wrapper button,
  .button-wrapper button::after {
    -webkit-transform: all .3s;
    -ms-transform: all .3s;
    transform: all .3s; }
  .button-wrapper .btn-polish {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/64px-Flag_of_Poland.svg.png);
    background-size: contain; }
  .button-wrapper .btn-english {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/41QsS%2BKKlML.jpg);
    background-size: contain; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: .4375rem; }
  .main .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .9375rem;
    border-radius: .25rem;
    margin-right: .625rem;
    color: #fff;
    -webkit-box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.7);
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.7);
    background: rgba(0, 45, 116, 0.95); }
    .main .about .about__title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .main .about .about__title .about__h1 {
        font-size: 1.875rem;
        margin-bottom: .625rem;
        font-weight: 600;
        color: #fff !important; }
      .main .about .about__title .about__p {
        margin-bottom: .75rem;
        font-weight: 400; }
      .main .about .about__title .about__img {
        border-radius: .625rem;
        border: 0.125rem solid black;
        width: 12.5rem;
        height: 15.625rem; }
    .main .about .about__me .about__date {
      background: #002459;
      margin: .625rem -.9375rem .625rem -.9375rem;
      padding: .375rem; }
      .main .about .about__me .about__date .about__data {
        text-align: center; }
    .main .about .about__me .about__details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: .9375rem;
      margin: .625rem 0; }
      .main .about .about__me .about__details .about__details--span {
        font-weight: 300;
        letter-spacing: .0313rem; }
      .main .about .about__me .about__details .about__column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .main .about .about__me .about__details .about__column p {
          margin-left: .625rem; }
    .main .about .about__skills .about__date {
      background: #002459;
      margin: .625rem -.9375rem .625rem -.9375rem;
      padding: .375rem; }
      .main .about .about__skills .about__date .about__data {
        text-align: center; }
    .main .about .about__skills .about_information {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: .5rem auto; }
      .main .about .about__skills .about_information .about__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .main .about .about__skills .about_information .about__container .about__img {
          width: .9375rem;
          height: 1.25rem; }
        .main .about .about__skills .about_information .about__container .about__img--jq {
          height: .9375rem; }
      .main .about .about__skills .about_information .fab {
        margin-top: .1875rem; }
      .main .about .about__skills .about_information .fa-html5 {
        color: lightblue; }
      .main .about .about__skills .about_information .fa-css3-alt {
        color: orange; }
      .main .about .about__skills .about_information .fa-js-square {
        color: yellow; }
      .main .about .about__skills .about_information .fa-sass {
        color: pink; }
      .main .about .about__skills .about_information .fa-git {
        color: orange;
        background-color: transparent; }
      .main .about .about__skills .about_information .fa-gulp {
        color: red;
        margin-left: .25rem; }
      .main .about .about__skills .about_information .about__text {
        margin-left: .8125rem; }
      .main .about .about__skills .about_information .about__text--boot,
      .main .about .about__skills .about_information .about__text--av,
      .main .about .about__skills .about_information .about__text--off {
        margin-left: .6875rem; }
      .main .about .about__skills .about_information .about__text--sass {
        margin-left: .4375rem; }
      .main .about .about__skills .about_information .about__text--git,
      .main .about .about__skills .about_information .about__text--car {
        margin-left: .625rem; }
      .main .about .about__skills .about_information .fa-react {
        color: lightblue; }
    .main .about .about__media .about__date {
      background: #002459;
      margin: .625rem -.9375rem .625rem -.9375rem;
      padding: .375rem; }
      .main .about .about__media .about__date .about__data {
        text-align: center; }
    .main .about .about__media .about__linkedin {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: .9375rem; }
      .main .about .about__media .about__linkedin .about__font {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
        .main .about .about__media .about__linkedin .about__font .fab {
          font-size: 1.875rem;
          color: #0076b5; }
        .main .about .about__media .about__linkedin .about__font .fa-github {
          color: black; }
        .main .about .about__media .about__linkedin .about__font .about__h5--lnkedin {
          font-size: 1.25rem;
          margin-left: .5rem; }
      .main .about .about__media .about__linkedin .about__links {
        margin: .3125rem 0; }
        .main .about .about__media .about__linkedin .about__links .about__link {
          color: #fff;
          text-decoration: none;
          font-size: .875rem; }
  .main .work {
    max-width: 37.5rem;
    border-radius: .4375rem;
    padding: .9375rem;
    color: #000;
    background: #fff; }
    .main .work .work__text {
      font-size: .875rem; }
      .main .work .work__text:nth-of-type(2) {
        margin: 8px 0; }
    .main .work .work__mainexp {
      margin: .3125rem -.9375rem .3125rem -15zpx;
      border-top: 0.0625rem solid rgba(0, 45, 116, 0.45);
      border-bottom: 0.0625rem solid rgba(0, 45, 116, 0.45);
      padding: .4375rem .75rem; }
      .main .work .work__mainexp .work__title {
        color: rgba(0, 45, 116, 0.95); }
    .main .work .work__exp .work__trenton {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: .3125rem; }
      .main .work .work__exp .work__trenton .work__company--bg {
        margin: .4375rem -.9375rem .3125rem -.9375rem; }
        .main .work .work__exp .work__trenton .work__company--bg .work__company {
          border-top: 0.0625rem solid rgba(0, 45, 116, 0.45);
          border-bottom: 0.0625rem solid rgba(0, 45, 116, 0.45);
          padding: .4375rem .75rem;
          color: rgba(0, 45, 116, 0.95); }
      .main .work .work__exp .work__trenton .work__company--span {
        font-weight: 400; }
    .main .work .work__exp .work__company--perm {
      font-size: .875rem;
      font-weight: 400; }
    .main .work .work__exp .work__times {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-top: .3125rem; }
      .main .work .work__exp .work__times .work__time {
        font-size: .875rem;
        margin-top: 3.125rem; }
      .main .work .work__exp .work__times .work__time-usa {
        margin-top: 1.25rem; }
      .main .work .work__exp .work__times .work__time-study {
        margin-top: 2.1875rem; }
    .main .work .work__exp .work__times-usa {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: .625rem; }
    .main .work .work__exp .work__about {
      margin-left: 1.25rem; }
      .main .work .work__exp .work__about .work__english {
        width: 1.875rem;
        height: 100%;
        position: relative;
        top: .5rem; }
      .main .work .work__exp .work__about .work__company--res {
        padding-bottom: .3125rem; }
      .main .work .work__exp .work__about .work__comapny--adress {
        padding-bottom: .3125rem; }
      .main .work .work__exp .work__about .work__ul {
        margin-left: 1.25rem; }
      .main .work .work__exp .work__about .work__ul--education {
        list-style: none;
        padding: .625rem 0; }
    .main .work .work__exp .work__about--interes {
      padding-left: 3.875rem; }
    .main .work .work__hr--middle {
      margin-top: .625rem;
      margin-bottom: .625rem;
      border: 0.0625rem solid rgba(0, 45, 116, 0.25); }
    .main .work .footer {
      margin-top: .3125rem; }
      .main .work .footer .footer__p {
        font-size: .5rem; }

@media screen and (max-width: 49.125rem) {
  .main {
    display: block; }
    .main .about {
      margin: .3125rem; }
    .main .work {
      max-width: 100%;
      margin: .3125rem; } }

@media screen and (max-width: 76.25rem) {
  .button-wrapper {
    background: white;
    border-radius: 10px;
    border: 1px solid #000;
    display: none; }
  .wrapper {
    display: block; } }
