@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
* {
    // font-family: 'Arimo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: scale(0.95);
    .about {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        padding: 15px;
        border-radius: 7px;
        margin: 30px;
        color: #fff;
        background-color: rgb(57, 157, 187);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        .about__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about__h1 {
                margin-bottom: 10px;
                font-weight: 600;
            }
            .about__p {
                margin-bottom: 12px;
                font-weight: 400;
            }
            .about__img {
                border-radius: 10px;
                border: 2px solid black;
                width: 200px;
                height: 220px;
            }
        }
        .about__me {
            .about__date {
                background: rgb(55, 93, 126);
                margin: 10px auto;
                padding: 6px;
                .about__data {
                    text-align: center;
                }
            }
            .about__details {
                font-size: 15px;
                margin: 10px 0;
                .about__details--span {
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    padding: 210px 0;
                }
            }
        }
        .about__skills {
            .about__date {
                background: rgb(55, 93, 126);
                margin: 10px auto;
                padding: 6px;
                .about__data {
                    text-align: center;
                }
            }
            .about__information {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        .about__media {
            .about__date {
                background: rgb(55, 93, 126);
                margin: 10px auto;
                padding: 6px;
                .about__data {
                    text-align: center;
                }
            }
            .about__linkedin {
                display: flex;
                flex-direction: column;
                .about__font {
                    display: flex;
                    flex-direction: row;
                    .fab {
                        font-size: 30px;
                        color: rgb(0, 118, 181);
                    }
                    .fa-github {
                        color: rgb(0, 0, 0);
                    }
                    .fa-facebook {
                        color: rgb(66, 103, 178);
                    }
                    .about__h5--lnkedin {
                        font-size: 20px;
                        margin-left: 8px;
                    }
                }
                .about__links {
                    margin: 5px 0;
                    .about__link {
                        color: #fff;
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .work {
        max-width: 600px;
        margin-top: 30px;
        border-radius: 7px;
        padding: 15px;
        margin-left: -25px;
        margin-bottom: 30px;
        color: #fff;
        background-color: rgb(57, 157, 187);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
        .work__text {
            text-justify: justify;
            font-size: 14px;
        }
        .work__title {
            background: rgb(55, 93, 126);
            padding: 6px;
            margin: 5px auto;
        }
        .work__exp {
            .work__trenton {
                display: flex;
                flex-direction: column;
                .work__company {
                    padding: 10px 0;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    .work__company--span {
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
                .work__company--bg {
                    background: rgb(55, 93, 126);
                    padding: 6px;
                }
                .work__times {
                    display: flex;
                    flex-direction: row;
                    .work__time {
                        font-size: 14px;
                    }
                }
                .work__about {
                    margin-left: 20px;
                    .work__address {
                        font-size: 15px;
                    }
                    .work__company--res {
                        padding-bottom: 5px;
                    }
                    .work__comapny--adress {
                        padding-bottom: 5px;
                    }
                    .work_p {}
                    .work__ul {
                        margin-left: 20px;
                        .work__li {}
                    }
                    .work__ul--education {
                        list-style: none;
                        margin-left: 0px;
                    }
                }
                .work__about--interes {
                    padding-left: 62px;
                }
            }
            .work__hr--middle {
                margin-top: 10px;
            }
        }
    }
}